.container {
  margin: 0;
	padding: 0;
	box-sizing: border-box;
  position: relative;
  width: 100%;
  min-height: 100vh;
  max-height: 100vh;
  display: flex;
	position: relative;
}

.main {
	margin: 0;
	width: 60%;
	height: 100vh;
	background: linear-gradient(-165deg, #0575E6 0%, #02298A 70%, #021B79 100%);
	overflow: hidden;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-shrink: 0;
}

.info {
	margin: 0 auto;
	max-width: 672px;
	width: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.title {
	margin: 0;
	padding: 0;
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	line-height: 1.15;
	color: #FFFFFF;
}

.subtitle {
	margin: 0;
	padding: 0;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 1.15;
	color: #FFFFFF;
}

.img {
  content: '';
  position: absolute;
  bottom: -100px;
  left: 0;
  margin: 0;
  width: 100%;
  height: 60%;
  background-image: url('../../../../images/public-layout/public-layout-img.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	overflow: hidden;
}

.footer {
  margin: 0;
	position: absolute;
	width: calc(100% - 80px);
	left: 40px;
	bottom: 40px;
  display: flex;
  justify-content: space-between;
	&__column {
		margin: 0px;
		display: flex;
		flex-direction: column;
	}
	&__title {
		margin: 0px;
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 18px;
		color: #FFFFFF;
	}
	&__text {
		position: relative;
		margin: 8px 0 0 0;
		padding: 0 0 0 24px;
		font-style: normal;
		font-weight: 300;
		font-size: 14px;
		line-height: 18px;
		color: #FFFFFF;
	}
	&__mail::before {
		content: '';
		position: absolute;
		width: 18px;
		height: 18px;
		top: -1px;
		left: 0px;
		background-image: url('../../../../images/icons/mail.svg');
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
	}
	&__phone::before {
		content: '';
		position: absolute;
		width: 18px;
		height: 18px;
		top: -1px;
		left: 0px;
		background-image: url('../../../../images/icons/phone.svg');
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
	}
	&__copy {
		position: relative;
		margin: auto 0px 0px 0px;
		padding: 0px 0px 0px 24px;
		font-style: normal;
		font-weight: 300;
		font-size: 14px;
		line-height: 18px;
		color: #FFFFFF;
	}
	&__copy::before {
		content: '';
		position: absolute;
		width: 18px;
		height: 18px;
		top: -1px;
		left: 0px;
		background-image: url('../../../../images/icons/copyright.svg');
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
	}
}

.wrapper {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--main-white-color);
}

.wrapper {
	margin: 0;
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	background-color: var(--main-white-color);
	overflow-y: auto;
}

.content {
	margin: auto;
	width: 100%;
	max-width: 435px;
	padding: 40px 20px;
	box-sizing: border-box;
}
