.container {
  margin: 4px 0 0 0;
  width: 100%;
  padding: 0 0 16px 0;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
}

.container_margin_bottom {
	margin-bottom: 60px;
}

.header {
	margin: 0 0 4px 0;
	display: flex;
	align-items: center;
}

.title {
	margin: 0 8px 0 0;
	color: var(--main-black-color);
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: 18px;
}

.icon {
	margin: 0;
	width: 20px;
	height: 20px;
	background-image: url('../../../../images/icons/info.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	transition: all .3s ease-in-out;
	&:hover {
		cursor: pointer;
		opacity: .7;
	}
}

.error {
  margin: 0;
	position: absolute;
	bottom: 0;
	left: 0;
  min-height: 12px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  color: var(--accent-red-color);
  pointer-events: none;
  user-select: none;
  opacity: 0;
  transition: all .3s ease-in-out;
	&_status_show {
		opacity: 1;
	}
}
