{% load i18n %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% trans "Сброс пароля" %}</title>
</head>
<body>
    <p>{% trans "Здравствуйте, " %}{{ user.get_full_name|default:user.email }}!</p>
    <p>{% trans "Вы запросили сброс пароля на нашем сайте." %}</p>
    <p>{% trans "Для сброса пароля перейдите по ссылке:" %}</p>
    <p><a href="{{ reset_url }}">{{ reset_url }}</a></p>
    <p>{% trans "Если вы не запрашивали сброс пароля, просто проигнорируйте это письмо." %}</p>
    <p>{% trans "С уважением, команда поддержки." %}</p>
</body>
</html> 