.badge {
  margin: 0;
  width: fit-content;
	max-height: 24px;
  padding: 5px 10px;
  position: relative;
  box-sizing: border-box;
  font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 14px;
	color: var(--main-blue-color);
	background-color: var(--main-blue-background-color);
  border-radius: var(--border-radius);
  flex-shrink: 0;
	outline: none;
  cursor: default;
	transition: all .3s ease-in-out;
	&_active {
		background-color: inherit;
		border: none;
		&:hover {
			cursor: pointer;
			opacity: .7;
		}
	}
	&_color_blue {
		color: var(--main-blue-color);
		background-color: var(--main-blue-background-color);
	}
	&_color_white {
		color: var(--main-black-color);
		background-color: var(--main-white-color);
	}
	&_color_yellow {
		color: var(--accent-yellow-color);
		background-color: var(--background-yellow-color);
	}
	&_color_green {
		color: var(--accent-green-color);
		background-color: var(--background-green-color);
	}
	&_color_red {
		color: var(--accent-red-color);
		background-color: var(--background-red-color);
	}
}

