.checkbox_label {
  display: flex;
  align-items: center;
  width: 100%;
	padding: 11px 0;
  cursor: pointer;
}

.checkbox {
  appearance: none;
  width: 16px;
  height: 16px;
  border: 1px solid var(--slider-color);
  border-radius: 4px;
  margin-right: 8px;
  position: relative;
  flex-shrink: 0;
  transition: all 0.2s;
	cursor: pointer;

  &:checked {
    background-color: var(--main-blue-color);
    border-color: var(--main-blue-color);

    &::after {
      content: '';
      position: absolute;
      top: 2px;
      left: 5px;
      width: 3px;
      height: 5px;
      border: solid var(--main-white-color);
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
  }
}

.text {
	margin: 0;
  font-size: 14px;
  line-height: 18px;
  color: var(--main-black-color);
  pointer-events: none;

  &_empty {
    color: var(--main-grey-color);
  }
}
