.card {
	margin: 0;
	padding: 28px 36px;
	box-sizing: border-box;
	width: 100%;
	border-radius: var(--border-radius);
	border: 1px solid var(--main-grey-light-color);
	background-color: var(--main-white-color);
	display: flex;
	flex-direction: column;
	&__header {
		margin: 0;
		width: 100%;
		display: flex;
		justify-content: space-between;
	}
	&__title {
		margin: 0;
		font-size: 18px;
		line-height: 24px;
		font-style: normal;
		font-weight: bold;
		text-align: left;
		color: var(--main-black-color);
	}
	&__main {
		margin: 8px 0;
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 16px;
	}
	&__text {
		margin: 0;
		font-size: 14px;
		line-height: 18px;
		font-style: normal;
		font-weight: normal;
		text-align: left;
		color: var(--main-black-color);
		&_color_grey {
			color: var(--main-grey-color);
		}
	}
	&__footer {
		margin: auto 0 0 0;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		gap: 8px;
		padding-top: 16px;
		border-top: 1px solid var(--main-grey-light-color);
	}
	&__author {
		width: 100%;
		margin: 0;
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 20px;
	}
	&__column {
		width: 100%;
		margin: 0;
		display: flex;
		flex-direction: column;
		gap: 8px;
	}
}
