.container {
	margin: 0 0 12px;
	padding: 10px 36px;
	width: fit-content;
	box-sizing: border-box;
	background-color: var(--main-grey-background-color);
	border-radius: var(--border-radius);
}

.tabs {
	display: flex;
	align-items: center;
	gap: 40px;
	margin: 0;
	width: 100%;
}

.tab,
.tab_active,
.tab_disabled {
	margin: 0;
	padding: 11px 20px;
	box-sizing: border-box;
	border: none;
	outline: none;
	background-color: transparent;
	color: var(--main-black-color);
	font-size: 16px;
	line-height: 16px;
	font-weight: 500;
	text-decoration: none;
	border-radius: var(--border-radius);
	flex-shrink: 0;
	transition: all 0.3s ease-in-out;
}

.tab {
	&:hover {
		cursor: pointer;
		background-color: #EDF2F7;
	}
}

.tab_active {
	background-color: var(--main-blue-color);
	color: var(--main-white-color);
}

.tab_disabled {
	color: var(--accent-grey-color);
	pointer-events: none;
}
