.home {
	margin: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
}
.header {
	margin: 0;
	padding: 26px 36px;
	box-sizing: border-box;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: linear-gradient(-165deg, #0575E6 0%, #02298A 70%, #021B79 100%);
	border-radius: var(--border-radius);
	&__info {
		margin: 0;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 8px;
	}
	&__title {
		margin: 0;
		font-size: 24px;
		line-height: 28px;
		font-style: normal;
		font-weight: bold;
		text-align: center;
		color: var(--main-white-color);
	}
	&__subtitle {
		margin: 0;
		font-size: 14px;
		line-height: 18px;
		font-style: normal;
		font-weight: normal;
		text-align: center;
		color: var(--main-white-color);
	}
}