.text {
  margin: 0px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: var(--main-black-color);
}

.text_type_empty {
  margin: 16px 0px 0px 0px;
  color: var(--accent-grey-color);
}
