.section {
	width: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	max-height: calc(100vh - 24px - 40px);
	height: 100%;
	overflow: auto;
}

.header {
	margin: 0;
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.header_mb_20 {
	margin: 0 0 12px 0;
}

.title {
	margin: 0;
	font-size: 24px;
	line-height: 28px;
	font-style: normal;
	font-weight: bold;
	color: var(--main-black-color);
	text-align: left;
}

.subtitle  {
	margin: 0;
	font-size: 14px;
	line-height: 18px;
	font-style: normal;
	font-weight: normal;
	color: var(--main-black-color);
	text-align: left;
}

.icon {
	margin: 0;
	width: 20px;
	height: 20px;
	background-image: url('../../../images/icons/info.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	transition: all .3s ease-in-out;
	&:hover {
		cursor: pointer;
		opacity: .7;
	}
}
