.container {
	margin: 0;
	max-width: 100%;
	width: 100%;
	min-height: 100vh;
	position: relative;
	box-sizing: border-box;
	display: flex;
	padding: 12px 24px;
	gap: 24px;
	background-color: var(--background-color);
	background-image: url('../../../../images/main-layout/background.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.main {
	margin: 0 0 0 236px;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.header {
	margin: 0;
	width: 100%;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.user {
	margin: 0;
	display: flex;
	align-items: center;
	gap: 16px;
}

.name {
	margin: 0;
	padding: 10px 16px;
	font-size: 14px;
	line-height: 18px;
  font-style: normal;
  font-weight: 500;
  text-align: center;
	color: var(--main-black-color);
}

.role {
	margin: 0;
	padding: 10px 16px;
	font-size: 14px;
	line-height: 18px;
  font-style: normal;
  font-weight: 500;
  text-align: center;
	color: var(--main-black-color);
}

.logout {
	margin: 0;
	padding: 10px 16px;
	outline: none;
	background: initial;
	border: none;
	box-sizing: border-box;
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: var(--border-radius);
	transition: all .3s ease-in-out;
	&:hover {
		cursor: pointer;
	}
	&__icon {
		margin: 0 8px 0 0;
		width: 18px;
		height: 18px;
		background-image: url('../../../../images/icons/new/logout-grey.svg');
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
	}
	&__text {
		margin: 0;
		font-size: 14px;
		line-height: 18px;
		font-style: normal;
		font-weight: 500;
		text-align: center;
		color: var(--main-black-color);
	}
}

.logout:hover .logout__icon {
	background-image: url('../../../../images/icons/new/logout-blue.svg');
}

.logout:hover .logout__text {
  color: var(--main-blue-color);
}
