.card {
	margin: 0;
	width: 100%;
	padding: 12px 16px;
	background: var(--main-white-color);
	border-radius: var(--border-radius);
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	transition: all .3s ease-in-out;
	&_active {
		&:hover {
			cursor: pointer;
		}
	}
	&_open {
		background: var(--accent-blue-light-color);
		&:hover {
			cursor: default;
		}
	}
}

.header {
	margin: 0;
	width: 100%;
	display: flex;
	align-items: center;
}

.control {
	margin: 0 0 0 auto;
	display: flex;
	align-items: center;
	gap: 8px;
}

.main {
	margin: 12px 0 0 0;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.title {
	margin: 0;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	font-style: normal;
	color: var(--main-black-color);
}

.description {
	margin: 8px 0 0 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 18px;
	font-style: normal;
	color: var(--main-black-color);
}
