.container {
	margin: 20px 0 0 0;
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.item {
	margin: 0 auto;
	display: flex;
	align-items: center;
}

.label {
	margin: 0 8px 0 0;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	line-height: 18px;
	color: var(--main-grey-color);
}

.link {
	margin: 0;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	line-height: 18px;
	color: var(--main-blue-color);
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	transition: all .3s ease-in-out;
	&:hover {
		cursor: pointer;
		opacity: .7;
	}
}
