.container {
	margin: 0;
	padding: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.list {
	margin: 0;
	padding: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.item {
	width: 100%;
	margin: 0;
	padding: 16px 20px;
	box-sizing: border-box;
	width: 100%;
	display: flex;
	align-items: center;
	gap: 20px;
	border: 2px solid var(--background-color);
	border-radius: 12px;
}

.data {
	width: 100%;
	margin: 0;
	display: flex;
	align-items: center;
	gap: 20px;
}

.img {
	width: 64px;
	height: 64px;
	border-radius: 50%;
	background-color: var(--background-color);
	flex-shrink: 0;
}

.info {
	margin: 0;
	padding: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.date {
	margin: 0 0 8px 0;
	font-size: 12px;
	line-height: 1;
	font-style: normal;
	font-weight: normal;
	color: var(--accent-grey-color);
}

.title {
	margin: 0 0 8px 0;
	display: flex;
	align-items: center;
	gap: 8px;
}

.name {
	margin: 0;
	font-size: 20px;
	line-height: 1;
	font-style: normal;
	font-weight: bold;
	color: var(--main-black-color);
}

.contacts {
	margin: 0 0 8px 0;
	width: 100%;
	display: flex;
	align-items: center;
	gap: 12px;
}

.text {
	margin: 0;
	font-size: 14px;
	line-height: 1;
	font-style: normal;
	font-weight: normal;
	color: var(--main-black-color);
	&_weight_bold {
		font-weight: bold;
	}
}

.buttons {
	margin: 0 0 0 auto;
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.form {
	width: 100%;
	margin: 8px 0 0 0;
	display: flex;
	flex-direction: column;
	gap: 20px;
}