.container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.preloader {
	margin: 0 24px 0 auto;
	max-width: 82vw;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.circle {
	display: block;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: var(--wizard-first-color);
	animation: spin 2s linear infinite;
	position: relative;
}

.circle::before {
	content: "";
	position: absolute;
	top: 5px;
	left: 5px;
	right: 5px;
	bottom: 5px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: var(--wizard-second-color);
	animation: spin 3s linear infinite;
}

.circle::after {
	content: "";
	position: absolute;
	top: 15px;
	left: 15px;
	right: 15px;
	bottom: 15px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: var(--wizard-third-color);
	animation: spin 1.5s linear infinite;
}

.caption {
	margin: 20px 0 0 0;
	text-align: center;
	font-style: normal;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 1.2px;
	color: var(--main-black-color);
}

@keyframes spin {
	0% {
			transform: rotate(0deg);
	}
	100% {
			transform: rotate(360deg);
	}
}