.text {
	margin: 0;
	font-size: 14px;
	line-height: 18px;
	font-style: normal;
	font-weight: 500;
	&_color_grey {
		color: var(--main-black-color);
	}
	&_color_grey {
		color: var(--main-grey-color);
	}
	&_color_white {
		color: var(--main-white-color);
	}
	&_margin_top {
		margin: 12px 0 0 0;
	}
}

.container {
	margin: 0;
	padding: 12px 22px;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 12px;
  border-radius: var(--border-radius);
  box-sizing: border-box;
  background: var(--inactive-color);
}

.list {
	margin: 0;
	padding: 0;
	width: 100%;
	list-style-type: none;
	display: flex;
	flex-direction: column;
	gap: 12px;
	&__title {
		margin: 0;
		color: var(--main-black-color);
		font-size: 16px;
		line-height: 20px;
		font-style: normal;
		font-weight: 500;
	}
}

.item {
	&__title {
		margin: 0 0 4px 0;
		color: var(--main-black-color);
		font-size: 14px;
		line-height: 18px;
		font-style: normal;
		font-weight: 500;
	}
	&__text {
		margin: 0;
		color: var(--main-black-color);
		font-size: 14px;
		line-height: 18px;
		font-style: normal;
		font-weight: 300;
	}
}
