.container {
	margin: 0 0 12px;
}

.text {
	margin: 0;
	color: var(--main-black-color);
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	line-height: 1.15;
}

.text_bold {
	font-weight: bold;
}
