.container {
	margin: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 20px;
	flex: 1;
	min-height: 0;
}

.main {
	margin: 0;
	width: 100%;
	display: flex;
	flex-direction: row;
	flex: 1;
	min-height: 0;
	gap: 20px;
}

.form {
	margin: 0;
	display: flex;
	flex-direction: column;
	flex: 2;
	min-height: 0;
	&__content {
	margin: 20px 0 0 0;
	display: flex;
	flex-direction: column;
	flex: 1;
	overflow-y: auto;
	padding-right: 8px;
	}
	&__control {
		margin: 12px 0 0 0;
		padding: 12px 0 0 0;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		border-top: 1px solid var(--main-grey-light-color);
	}
}

.progress {
	width: 100%;
	margin: 0;
	display: flex;
	flex-direction: column;
	gap: 8px;

  &__info {
		margin: 0;
    text-align: right;
    font-size: 14px;
		line-height: 18px;
		font-weight: 500;
    color: var(--main-black-color);
  }

  &__bar {
    width: 100%;
    height: 10px;
    background-color: #E2E8F0;
    border-radius: var(--border-radius);
    overflow: hidden;
  }

  &__fill {
    height: 100%;
    background-color: var(--main-blue-color);
    transition: width 0.3s ease-in-out;
  }
}

.summary {
	margin: 0;
	display: flex;
	flex-direction: column;
	flex: 1;
	min-height: 0;
	&__list {
		margin: 12px 0 0 0;
		padding: 0 8px 0 0;

		width: 100%;
		list-style-type: none;
		display: flex;
		flex-direction: column;
		gap: 12px;
		overflow-y: auto;
	}
	&__item {
		margin: 0;
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 4px;
	}
	&__title {
		margin: 0;
    font-size: 14px;
		line-height: 18px;
		font-weight: normal;
		color: var(--main-grey-color);
	}
	&__text {
		margin: 0;
    font-size: 14px;
		line-height: 18px;
		font-weight: normal;
		color: var(--main-black-color);
	}
}
