.select {
  margin: 0;
  width: 100%;
  min-width: 164px;
  min-height: 40px;
  padding: 8px 16px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--main-grey-light-color);
  border-radius: var(--border-radius);
  background: var(--main-white-color);
  transition: all 0.3s ease-in-out;
  cursor: pointer;

  &:hover {
    border: 1px solid var(--main-grey-color);
  }

  &_open {
    border: 1px solid var(--main-blue-color);

    &:hover {
      border: 1px solid var(--main-blue-color);
    }
  }
}

.main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  margin: 0 22px 0 0;
  font-size: 14px;
  line-height: 18px;
  color: var(--main-black-color);
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.arrow {
  width: 18px;
  height: 18px;
  background: center / 18px no-repeat url('../../../images/icons/arrow.svg');
  transition: all 0.3s ease-in-out;

  &_status_open {
    transform: rotate(180deg);
  }
}

.options {
  width: 100%;
  background: var(--main-white-color);
  border-radius: 8px;
  display: none;
  position: absolute;
  top: 40px;
  left: 0;
  z-index: 100;
  box-shadow: 0px 8px 12px -8px rgb(166 166 166 / 90%);
  box-sizing: border-box;

  &_status_open {
    display: block;
  }
}

.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  max-height: 180px;
  overflow-y: auto;
}

.item {
  margin: 0 20px;
  padding: 11px 0;
  border-bottom: 1px solid var(--slider-color);
  display: flex;
  align-items: center;
	&_type_select {
		padding: 0;
	}

  &:last-of-type {
    border-bottom: none;
  }

  &:hover .text {
    color: var(--main-blue-color);
  }
}

.checkbox_label {
  display: flex;
  align-items: center;
  width: 100%;
	padding: 11px 0;
  cursor: pointer;
}

.checkbox {
  appearance: none;
  width: 16px;
  height: 16px;
  border: 1px solid var(--slider-color);
  border-radius: 4px;
  margin-right: 8px;
  position: relative;
  flex-shrink: 0;
  transition: all 0.2s;

  &:checked {
    background-color: var(--main-blue-color);
    border-color: var(--main-blue-color);

    &::after {
      content: '';
      position: absolute;
      top: 2px;
      left: 5px;
      width: 3px;
      height: 5px;
      border: solid var(--main-white-color);
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
  }
}

.text {
	margin: 0;
  font-size: 14px;
  line-height: 18px;
  color: var(--main-black-color);
  pointer-events: none;

  &_empty {
    color: var(--main-grey-color);
  }
}
